.main-menu {
  display: grid;
  grid-template: "banner" "underbanner" "nav";
  min-width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: -75px;
}

.main-banner {
  grid-area: banner;
  background-color: var(--first-color);
  color: var(--second-color);
  height: 55px;
  padding: 5px 15px 0px;
}

.main-banner > p {
  margin: 0;
  margin-top: 10px;
  margin-left: 65px;
}

.under-banner {
  grid-area: underbanner;
  background-color: var(--second-color);
  height: 15px;
  line-height: 13px;
  box-sizing: border-box;
  border-top: 2px solid var(--second-color-shade);
}

.under-banner > p {
  margin: 0;
  margin-left: 65px;
  font-size: 70%;
  color: var(--second-color-shade);
}

.main-nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: var(--second-color);
  height: 44px;
  box-sizing: border-box;
  padding: none;
  border: none;
  border-top: 2px solid var(--second-color-shade);
  border-bottom: 2px solid var(--second-color-shade);
}
a {
  background-color: none;
  color: var(--first-color);
  height: 40px;
  width: auto;
  border: none;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 4px 4px 4px;
  font-size: 120%;
}

a:hover {
  background-color: var(--second-color-shade);
}

a > p {
  font-size: 60%;
  margin-block-start: 0;
}

img {
  position: absolute;
  width: 70px;
  height: auto;
  left: 4px;
  top: 4px;
}
